* {
    margin: 0;
    list-style: none;
    text-decoration: none;
}
ul,
li {
    margin: 0;
    padding: 0;
}
header {
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 100px;
}

header div {
    width: 30%;
    height: 100px;
    background-color: white;
}

header div img {
    position: relative;
    width: 298px;
    height: 44px;
    top: 30px;
    left: 150px;
}

header ul {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    padding-left: 150px;
    list-style: none;
    color: black;
}

header ul li {
    height: 50px;
    padding-left: 50px;
}

.slides {
    background-color: burlywood;
    width: 100%;
    height: 640px;
    overflow: hidden;
}
.slides img{
    width: 100%;
    height: 100%;
}

.line_notice {
    width: 100%;
    height: 60px;
    background: url("http://daabora.com/twosomeplace/images/line_notice_bg.gif") center top/cover;
}

.line_notice_wrap {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    color: white;
}

.line_notice_wrap>.notice,
.event {
    width: 50%;
    display: flex;
    flex-direction: row;
    color: white;
    padding-top: 20px;
}

.line_notice>.line_notice_wrap img {
    width: 90%;
    height: 100%;
}
.notice h3{
    font-size: 20px;
}
.event h3{
    font-size: 20px;
}
.notice p,
.event p {
    padding-left: 150px;
}

.event h3 {
    padding-left: 60px;
}

.content1 {
    width: 100%;
    height: 800px;
    background-color: white;
}

.content1_header {
    width: 90%;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.content1_header h2 {
    font-size: 48px;
}

.content1_header h2 span {
    color: crimson;
}

.content1 ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.content1 ul li {
    padding-left: 114px;
}

.menu_info {
    margin: 0 auto;
    width: 358px;
}

.menu_info p {
    padding-top: 20px;
    text-align: center;
}

.menu_info p a {
    font-size: 1.3rem;
}

.content2 {
    width: 100%;
    height: 800px;
    background-color: white;
}

.content2 ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.content2 ul li {
    padding-left: 114px;
}
.store {
    width: 100%;
    height: 550px;
    background-color: firebrick;
}

.footer {
    background-color: #222;
    width: 92%;
    height: 450px;
    padding: 60px;
    margin-top: 50px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

.footer-top-menu li {
    margin-top: 10px;
}

.footer-top-menu a {
    font-size: 26px;
    color: white;
}

.footer-top-cs dt {
    font-size: 20px;
    color: white;
    margin-top: 5px;
}

.footer-top-cs dl {
    height: 50%;
}

.footer-top-cs dl dd {
    font-size: 12px;
    margin-top: 8px;
    color: gray;
}
.footer-bottom-menu a{
    color: white;
}
.footer-bottom-menu a strong{
    color: yellow;
}

.footer-bottom-menu ul {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.footer-bottom-menu ul li {
    padding-right: 30px;
    font-size: 14px;
}
.footer-bottom-info{
    color: gray;
}
.footer-bottom-info ul{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.footer-bottom-info ul li{
    display: flex;
    flex-direction: row;
    padding-right: 30px;
}
.footer-bottom-copy{
    font-size: 12px;
    margin-top: 20px;
    color: gray;
}
.footer-bottom-sns{
    margin-top: 10px;
    float: right;
}